<!-- localhost:3000/posts -->

<h3>投稿一覧ページ</h3>
<%= link_to "新規投稿ページへ", "/posts/new" %>
<br><hr>
<% @posts.each do |p| %>

<div class = "post-place">
 <%= p.place %>
</div>

<div class = "post-content">
 <%= p.content %>
</div>

<%= p.created_at %>
<hr>
<% end %>